# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Databases
*.db
*.sqlite
*.sqlite3

# OS / IDE
.DS_Store
.vscode/

# Spark generated folders
data/processed/spark_books_features/
*.crc
_SUCCESS

# Logs
*.log
